<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{path}}css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{path}}css/auth.css">
    <link rel="stylesheet" type="text/css" href="{{path}}css/main.css">
    <script type="text/javascript" src="{{path}}js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{path}}js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="{{path}}js/blockUI.js"></script>
    <script type="text/javascript" src="{{path}}js/global.js"></script>
    <script type="text/javascript" src="{{path}}js/auth.js"></script>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="tab active-back" role="tabpanel">
                {{{body}}}
            </div>
        </div>
    </div>
</div>
</body>
</html>